.statistics {
  width: 300px;
  border: 1px solid #e4e9ed;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  padding: 25px 0;
  color: #333333;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  flex-direction: column;
  width: 60px;
  height: 60px;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.label {
  display: block;
  margin-bottom: 10px;
}
